@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Lato-Semibold.eot");
    src: local(""), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"),
        url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg#Lato") format("svg");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Lato-Heavy.eot");
    src: local(""), url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"),
        url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato") format("svg");
}

body {
    background: #272733;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

body.state-locked {
    overflow: hidden;
}

.container {
    max-width: 1212px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 991.98px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 479.98px) {
    .container {
        max-width: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    background: #3e9cdc;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 12px 31.5px;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.btn:hover {
    background: #3183b9;
}

.btn__white {
    background: #ffffff;
    border-color: #6f6d7b;
    color: #2a2b30;
}

.btn__white:hover {
    color: #ffffff;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 30px;
        line-height: 38px;
    }
}

@media (max-width: 479.98px) {
    h1 {
        font-size: 22px;
        line-height: 28px;
    }
}

.formControl {
    display: block;
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #272733;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.formControl:hover,
.formControl:focus {
    background: #ffffff;
}

@media (max-width: 767.98px) {
    .formControl {
        padding: 8px 10px;
        font-size: 14px;
        line-height: 18px;
    }
}

::-webkit-input-placeholder {
    color: #272733;
}

::-moz-placeholder {
    color: #272733;
}

:-ms-input-placeholder {
    color: #272733;
}

:-moz-placeholder {
    color: #272733;
}

.custom-select {
    width: 100%;
    position: relative;
}

.custom-select select {
    display: none;
}

.select__selected {
    padding: 12px 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #272733;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    z-index: 99;
}

@media (max-width: 767.98px) {
    .select__selected {
        padding: 8px 10px;
        font-size: 14px;
        line-height: 18px;
    }
}

.select__selected::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.select__selected.arrowanim {
    background: rgba(61, 64, 80, 0.85);
    border-color: rgba(61, 64, 80, 0.85);
    border-radius: 3px 3px 0px 0px;
    color: #ffffff;
}

.select__selected.arrowanim::after {
    border-color: #ffffff;
    margin-top: -1px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.select__item {
    font-size: 18px;
    padding: 8px 10px;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 479.98px) {
    .select__item {
        font-size: 14px;
        padding: 6px 10px;
    }
}

.select__item:hover {
    color: #42a9ed;
}

.select__dropdown {
    background: #272733;
    border: 1px solid #3d4050;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 100%;
    left: 0;
    height: 180px;
    padding: 5px 0;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    z-index: 100;
}

.select__dropdown::-webkit-scrollbar {
    width: 7px;
}

.select__dropdown::-webkit-scrollbar-thumb {
    background-color: #3e9cdc;
    border-radius: 3px;
}

.select__dropdown-hide {
    display: none;
}

input[type="file"] {
    display: none;
}

.file__upload-field {
    display: block;
    background: #ffffff;
    border: 2px solid #3e9cdc;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #272733;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 13px 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media (max-width: 767.98px) {
    .file__upload-field {
        padding: 8px 10px;
        font-size: 14px;
        line-height: 18px;
    }
}

.file__upload-field:hover {
    background: #3e9cdc;
    color: #ffffff;
}

.file__upload-icon {
    display: inline-block;
    margin-right: 10px;
}

.header {
    background-color: rgba(16, 16, 29, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__menu {
        position: fixed;
        background: #131418;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        pointer-events: all;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 100;
        -webkit-animation: fade 0.1s linear;
        animation: fade 0.1s linear;
        display: none;
    }
}

.header__menu.state-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__menu-item {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-left: 60px;
}

@media (max-width: 991.98px) {
    .header__menu-item {
        margin-left: 40px;
    }
}

@media (max-width: 767.98px) {
    .header__menu-item {
        margin-left: 0;
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
    }
}

.header__menu-item:first-child {
    margin-left: 0;
}

@media (max-width: 767.98px) {
    .header__menu-item:first-child {
        margin-top: 0;
    }
}

.header__menu-link {
    color: #ffffff;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.header__menu-link:hover,
.header__menu-link.state-selected {
    color: #43abf0;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 39.5px;
    padding-bottom: 39.5px;
}

@media (max-width: 479.98px) {
    .navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 479.98px) {
    .logo img {
        max-width: 180px;
    }
}

.nav-toogle {
    display: none;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .nav-toogle {
        display: block;
    }
}

.nav-toogle.state-active::before {
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
}

.nav-toogle.state-active::after {
    background: #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.nav-toogle.state-active span {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.nav-toogle::before,
.nav-toogle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.nav-toogle::before {
    top: 0;
}

.nav-toogle::after {
    bottom: 0;
}

.nav-toogle span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #ffffff;
    height: 2px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.footer {
    background: #3d4050;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

@media (max-width: 767.98px) {
    .footer__inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.footer__copyright {
    font-size: 13px;
    line-height: 16px;
    padding-right: 40px;
}

@media (max-width: 991.98px) {
    .footer__copyright {
        padding-right: 30px;
    }
}

@media (max-width: 767.98px) {
    .footer__copyright {
        margin-bottom: 30px;
        padding-right: 0;
        text-align: center;
    }
}

.footer__payments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

@media (max-width: 991.98px) {
    .footer__payments {
        padding: 0 30px;
    }
}

@media (max-width: 767.98px) {
    .footer__payments {
        border: 0;
        margin-bottom: 30px;
    }
}

.footer__payments > div {
    margin-left: 38px;
}

@media (max-width: 991.98px) {
    .footer__payments > div {
        margin-left: 24px;
    }
}

@media (max-width: 767.98px) {
    .footer__payments > div {
        margin-left: 14px;
    }
}

.footer__payments > div:first-child {
    margin-left: 0;
}

@media (max-width: 479.98px) {
    .footer__payments > div img {
        max-width: 80px;
    }
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 16px;
    padding-left: 35px;
}

@media (max-width: 991.98px) {
    .footer__contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 30px;
    }
}

@media (max-width: 767.98px) {
    .footer__contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
    }
}

.footer__contacts > div {
    margin-left: 38px;
}

@media (max-width: 991.98px) {
    .footer__contacts > div {
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .footer__contacts > div {
        margin-left: 28px;
    }
}

.footer__contacts > div:first-child {
    margin-left: 0;
}

@media (max-width: 991.98px) {
    .footer__contacts > div:first-child {
        margin-bottom: 14px;
    }
}

@media (max-width: 767.98px) {
    .footer__contacts > div:first-child {
        margin-bottom: 0;
    }
}

.footer__contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    white-space: nowrap;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__contacts a:first-child .footer__contacts-icon {
    height: 13px;
}

.footer__contacts-icon {
    display: inline-block;
    margin-right: 12px;
}

.section__hero {
    background: url("../img/hero-bg.jpg") no-repeat top center;
    background-size: cover;
    padding: 103px 0 205px;
}

@media (max-width: 991.98px) {
    .section__hero {
        padding: 90px 0 130px;
    }
}

@media (max-width: 767.98px) {
    .section__hero {
        padding: 70px 0 110px;
    }
}

@media (max-width: 479.98px) {
    .section__hero {
        padding: 50px 0 80px;
    }
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 820px;
    flex: 0 1 820px;
}

@media (max-width: 991.98px) {
    .hero__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 620px;
        flex: 0 1 620px;
    }
}

@media (max-width: 767.98px) {
    .hero__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}

.hero__item-title {
    color: #000000;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 90px;
}

@media (max-width: 991.98px) {
    .hero__item-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 60px;
    }
}

@media (max-width: 767.98px) {
    .hero__item-title {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 50px;
    }
}

@media (max-width: 479.98px) {
    .hero__item-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }
}

.hero__item-title span {
    color: #3e9cdc;
}

.hero__item-text {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 80px;
}

@media (max-width: 991.98px) {
    .hero__item-text {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 50px;
    }
}

@media (max-width: 479.98px) {
    .hero__item-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}

.hero__item-text ul {
    margin-top: 10px;
}

.hero__item-text ul li {
    margin-bottom: 5px;
}

.hero__item-text ul li::before {
    content: "-";
    display: inline-block;
    margin: 0 10px;
}

.hero__item-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 479.98px) {
    .hero__item-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.hero__btn {
    width: 183px;
}

@media (max-width: 479.98px) {
    .hero__btn {
        width: 100%;
    }
}

.hero__btn:last-child {
    margin-left: 30px;
}

@media (max-width: 479.98px) {
    .hero__btn:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
}

.section__order {
    background: url("../img/order-bg.jpg") repeat-x top left;
    padding: 120px 0 120px;
}

@media (max-width: 991.98px) {
    .section__order {
        padding: 90px 0 130px;
    }
}

@media (max-width: 767.98px) {
    .section__order {
        padding: 70px 0 110px;
    }
}

@media (max-width: 479.98px) {
    .section__order {
        padding: 50px 0 80px;
    }
}

.order__title {
    margin-bottom: 30px;
    text-align: center;
}

.order__title span {
    color: #3e9cdc;
}

.order__subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #bbbbbb;
    margin-bottom: 80px;
    text-align: center;
}

@media (max-width: 767.98px) {
    .order__subtitle {
        margin-bottom: 60px;
    }
}

@media (max-width: 479.98px) {
    .order__subtitle {
        margin-bottom: 40px;
    }
}

.order__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 55px;
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .order__steps {
        padding: 0 35px;
    }
}

@media (max-width: 767.98px) {
    .order__steps {
        padding: 0;
    }
}

@media (max-width: 479.98px) {
    .order__steps {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.order__steps .order__step-title {
    display: none;
}

@media (max-width: 479.98px) {
    .order__steps .order__step-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: block;
    }
}

.order__step {
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .order__step {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
    }
}

@media (max-width: 479.98px) {
    .order__step {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        margin-bottom: 30px;
    }
}

.order__step-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: #3e9cdc;
    border: 5px solid #286690;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

@media (max-width: 991.98px) {
    .order__step-icon {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 767.98px) {
    .order__step-icon {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 479.98px) {
    .order__step-icon {
        margin-bottom: 20px;
    }
}

@media (max-width: 991.98px) {
    .order__step-icon img {
        max-width: 45px;
    }
}

@media (max-width: 767.98px) {
    .order__step-icon img {
        max-width: 35px;
    }
}

.order__step-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width: 767.98px) {
    .order__step-dots {
        display: none;
    }
}

.order__step-dots span {
    display: block;
    background: #c4c4c4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.order__step-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px;
}

@media (max-width: 767.98px) {
    .order__step-titles {
        margin-bottom: 50px;
    }
}

@media (max-width: 479.98px) {
    .order__step-titles {
        display: none;
    }
}

.order__step-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .order__step-title {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 479.98px) {
    .order__step-title {
        display: none;
    }
}

.order__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
}

@media (max-width: 767.98px) {
    .order__form-row {
        margin-left: 0;
    }
}

.order__form-row-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px;
}

@media (max-width: 767.98px) {
    .order__form-row-btn {
        padding-top: 0;
    }
}

.order__form-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.3333%;
    flex: 0 1 33.3333%;
    padding-left: 30px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 767.98px) {
    .order__form-col {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }
}

.order__range {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.6666%;
    flex: 0 1 66.6666%;
}

@media (max-width: 767.98px) {
    .order__range {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}

.order__range-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .order__range-head {
        font-size: 14px;
        line-height: 18px;
    }
}

.order__range-valueWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(255, 255, 255, 0.85);
}

.order__range-percent {
    margin-left: 5px;
}

.order__range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    border-radius: 3px;
    outline: none;
    -webkit-transition: 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.order__range-slider:hover {
    opacity: 1;
}

.order__range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #42a9ed;
    border: 3px solid #286690;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.order__range-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #42a9ed;
    border: 3px solid #286690;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.order__btn {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    padding: 14px 10px;
    width: 100%;
}

.content {
    padding-top: 100px;
}

@media (max-width: 479.98px) {
    .content {
        padding-top: 80px;
    }
}
