@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Lato-Semibold.eot');
    src: local(''),
         url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Semibold.woff2') format('woff2'),
         url('../fonts/Lato-Semibold.woff') format('woff'),
         url('../fonts/Lato-Semibold.ttf') format('truetype'),
         url('../fonts/Lato-Semibold.svg#Lato') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Lato-Heavy.eot');
    src: local(''),
         url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Heavy.woff2') format('woff2'),
         url('../fonts/Lato-Heavy.woff') format('woff'),
         url('../fonts/Lato-Heavy.ttf') format('truetype'),
         url('../fonts/Lato-Heavy.svg#Lato') format('svg');
}