$containerWidth: 1212px;
$containerPadding: 0 20px;
$breakpoint992: 991.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;

$fontMain: 'Lato', sans-serif;

$mainBg: #272733;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #3e9cdc;
$colorGray: #bbbbbb;